#java
target/
*.class
*.jar
!gradle-wrapper.jar

#Node
node_modules/
dist/
.angular/

#IDE
.idea/
.vscode/
*.iml

#Env
.env
.env.local
application-local.yml

#Docker
.docker/

#OS
.DS_Store
Thumbs.db
